.body {
  overflow-x: hidden;
  position: relative;
}

.App {
  
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  font-family: 'Allison';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  color: #DF2C29;

}

.main {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.girl {
  flex: 1;
  width: 30vw;
  height: auto;
}
 